
/* 
    Materia: Arquitectura de TI Empresariales
    Integrantes: 
        - Salazar Castillo Guadalupe - 261540
        - Jiménez Elizalde Andrés - 259678
        - León Paulín Daniel - 260541
        - García Vargas Michell Alejandro - 259663
*/

/* Página Login y Registro */
body{
    font-family: 'Jost', sans-serif;
    overflow-y: hidden;
}
.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-1 {
    grid-area: 1 / 3 / 7 / 6; 
    min-height: 100vh;
    /* display: flex; */
}
.grid-2 { grid-area: 1 / 1 / 3 / 3; }
.grid-3 { grid-area: 1 / 6 / 3 / 8; }
.grid-4 { grid-area: 3 / 1 / 5 / 3; }
.grid-5 { grid-area: 3 / 6 / 5 / 8; }
.grid-6 { grid-area: 5 / 1 / 7 / 3; }
.grid-7 { grid-area: 5 / 6 / 7 / 8; }

.form-login{
    background-color: #DDDDDD;
    margin: 14vh 15%;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 10px;
    padding: 5vh 5%;
    z-index: 5;
    position: relative;
}
.form-register{
    background-color: #DDDDDD;
    margin: 4vh 15%;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 10px;
    padding: 3vh 5%;
    z-index: 5;
    position: relative;
}
label, a{ 
    display: inline-block;
    font-weight: 500;
    font-size: larger;
    margin: 0 0 2vh 0;
}
a:hover{
    color: #007034;
    cursor: pointer;
}
a:active{
    color: #8dbf4c;
}
input{
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
    padding: 2vh 10%;
    margin: 0 0 3vh 0;
}
input[type="submit"]{
    color: #fff;
    background-color: #37a943;
    border-radius: 10px;
    padding: 2vh 30%;
    margin: 0;
}
input[type="submit"]:hover{
    background-color: #007034;
    cursor: pointer;
}
input[type="submit"]:active{
    background-color: #8dbf4c;
}
.form-titulo{
    color: #37a943;
    font-weight: bolder;
    font-size: 270%;
    margin: 0 0 3vh 0;
}
.form-register-input{
    padding: 1.5vh 10%;
    margin: 0 0 2vh 0;
}
.form-link{
    color: #37a943;
    margin: 0.5vh 0 1.5vh 0;
}
.triangulo-superior{
    position: absolute;
    top: 0;
    left: 0;
}
.tri-sup-chico{
    border-top: 150px solid #007034;
    border-right: 150px solid transparent;
    z-index: 2;
}
.tri-sup-mediano{
    border-top: 200px solid #37a943;
    border-right: 200px solid transparent;
    z-index: 1;
}
.tri-sup-grande{
    border-top: 250px solid #8dbf4c;
    border-right: 250px solid transparent;
    z-index: 0;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(5px 5px 10px rgba(0.0, 0.0, 0.0, 0.2));
}
.triangulo-inferior{
    position: absolute;
    bottom: 0;
    right: 0;
}
.tri-inf-chico{
    border-top: 150px solid transparent;
    border-right: 150px solid #007034;
    z-index: 2;
}
.tri-inf-mediano{
    border-top: 200px solid transparent;
    border-right: 200px solid #37a943;
    z-index: 1;
}
.tri-inf-grande{
    border-top: 250px solid transparent;
    border-right: 250px solid #8dbf4c;
    z-index: 0;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
}

.cuadrado-chico{
    width: 3.9vh;
    height: 3.9vh;
    background-color: #8dbf4c;
    z-index: 2;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuadrado-mediano{
    width: 11.6vh;
    height: 11.6vh;
    background-color: #37a943;
    z-index: 1;
    position: relative;
    position: relative;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuadrado-grande{
    width: 19.5vh;
    height: 19.5vh;
    background-color: #007034;
    z-index: 0;
    position: relative;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuad-1{
    margin-top: -93vh;
}
.cuad-2{
    margin-top: -15vh;
    margin-left: 8vw;
}
.cuad-3{
    margin-left: 2vw;
}
.cuad-4{
    margin-top: -11vh;
    margin-left: -1.5vw;
}
.cuad-5{
    margin-top: 28vh;
    margin-left: 30vw;
}
.cuad-6{
    margin-top: -1vh;
    margin-left: 31vw;
}
.cuad-7{
    margin-top: -25vh;
    margin-left: 33vw;
}
.cuad-8{
    margin-top: 7vh;
    margin-left: 26vw;
}
.cuad-9{
    margin-top: -94vh;
    margin-left: 31vw;
}
.cuad-10{
    margin-top: -21vh;
    margin-left: 29vw;
}
.cuad-11{
    margin-top: 4vh;
    margin-left: 35vw;
}
.cuad-12{
    margin-top: -22vh;
    margin-left: 45vw;
}
.cuad-13{
    margin-top: 12vh;
    margin-left: 33vw;
}
.cuad-14{
    margin-top: 9vh;
    margin-left: 4vw;
}
.cuad-15{
    margin-left: 2vw;
}
.cuad-16{
    margin-top: 2vh;
    margin-left: 2vw;
}

/* Página Principal y Home */
.grid-home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: 0.4fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-home-1 { 
    grid-area: 1 / 1 / 2 / 6; 
    background-color: #007034;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-home-2 { grid-area: 2 / 1 / 6 / 2; background-color: #37A943; }
.grid-home-3 { grid-area: 2 / 2 / 6 / 6; }

.titulo-examen{
    width: 100%;
    font-size: xx-large;
    font-weight: 600;
    padding: 2.5% 0 1.5% 0;
}
.titulo-usuario{
    width: 100%;
    font-size: x-large;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.examen-card{
    width: 82%;
    background-color: #DDDDDD;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    padding: 3% 4%;
    margin: 0 5% 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 10px;
}
.examen-button{
    width: 10%;
    background-color: #8DBF4C;
    color: #fff;
    padding: 1% 0;
    margin: 0;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cuadrado-chico{ display: none; }
    .cuadrado-mediano{ display: none; }
    .cuadrado-grande{ display: none; }
    .tri-sup-chico{ border-top: 50px solid #007034; border-right: 50px solid transparent; }
    .tri-sup-mediano{ border-top: 100px solid #37a943; border-right: 100px solid transparent; }
    .tri-sup-grande{ border-top: 150px solid #8dbf4c; border-right: 150px solid transparent; }
    .tri-inf-chico{ border-top: 50px solid transparent; border-right: 50px solid #007034; }
    .tri-inf-mediano{ border-top: 100px solid transparent; border-right: 100px solid #37a943; }
    .tri-inf-grande{ border-top: 150px solid transparent; border-right: 150px solid #8dbf4c; }
    .grid-1 { grid-area: 1 / 1 / 7 / 8; }
    .form-login{ margin: 18vh 10%; }
    .form-register{ margin: 11.5vh 10%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 3%; }
    input[type="submit"]{ padding: 2vh 25%; }
    .form-titulo{ font-size: 200%; }
}
@media only screen and (max-width: 380px) {
    .form-login{ margin: 17vh 10%; }
    .form-register{ margin: 8vh 10%; }
    label, a{ font-size: medium; }
    input{ font-size: x-small; padding: 2vh 3%; }
    input[type="submit"]{ padding: 2vh 25%; }
    .form-titulo{ font-size: 150%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .cuadrado-chico{ display: none; }
    .cuadrado-mediano{ display: none; }
    .cuadrado-grande{ display: none; }
    .grid-1 { grid-area: 1 / 1 / 7 / 8; }
    .form-login{ margin: 15vh 15%; }
    .form-register{ margin: 5vh 15%; }
    label, a{ font-size: xx-large; }
    input{ font-size: x-large; padding: 2vh 3%; }
    input[type="submit"]{ padding: 2vh 23%; }
    .form-titulo{ font-size: 380%; }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .form-login{ margin: 17vh 15%; }
    .form-register{ margin: 8.5vh 15%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .form-login{ margin: 17vh 12%; }
    .form-register{ margin: 9vh 12%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 10%; }
    .form-titulo{ font-size: 200%; }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1450px){
    .form-login{ margin: 16vh 12%; }
    .form-register{ margin: 6.5vh 12%; }
}
@media only screen and (min-width: 1600px){
    .form-login{ margin: 17vh 12%; }
    .form-register{ margin: 8vh 12%; }
}
@media only screen and (min-width: 1700px){
    .form-login{ margin: 18vh 12%; }
    .form-register{ margin: 9.5vh 12%; }
}
@media only screen and (min-width: 1800px){
    .form-register{ margin: 11vh 12%; }
}

/* Extra large devices (extra large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {
    .form-login{ margin: 14vh 12%; }
    .form-register{ margin: 3vh 12%; }
    label, a{ font-size: xx-large; }
    input{ font-size: x-large; padding: 2vh 3%; }
    .form-titulo{ font-size: 350%; }
}