
/* 
    Materia: Arquitectura de TI Empresariales
    Integrantes: 
        - Salazar Castillo Guadalupe - 261540
        - Jiménez Elizalde Andrés - 259678
        - León Paulín Daniel - 260541
        - García Vargas Michell Alejandro - 259663
*/

/* Página Login y Registro *
/* *{
    border: 1px solid red;
} */
body{
    font-family: 'Jost', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}
::-webkit-scrollbar{ 
    width: 1vw;
    z-index: 20;
}
::-webkit-scrollbar-track{ 
    background-color: #DDDDDD; 
}
::-webkit-scrollbar-thumb{ 
    background-color: #37A943;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{ 
    background-color: #007034;
}
.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-1 {
    grid-area: 1 / 3 / 7 / 6; 
    min-height: 100vh;
    /* display: flex; */
}
.grid-2 { grid-area: 1 / 1 / 3 / 3; }
.grid-3 { grid-area: 1 / 6 / 3 / 8; }
.grid-4 { grid-area: 3 / 1 / 5 / 3; }
.grid-5 { grid-area: 3 / 6 / 5 / 8; }
.grid-6 { grid-area: 5 / 1 / 7 / 3; }
.grid-7 { grid-area: 5 / 6 / 7 / 8; }

.form-login{
    background-color: #DDDDDD;
    margin: 14vh 15%;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 10px;
    padding: 5vh 5%;
    z-index: 5;
    position: relative;
}
.form-register{
    background-color: #DDDDDD;
    margin: 4vh 15%;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 10px;
    padding: 3vh 5%;
    z-index: 5;
    position: relative;
}
label, a{ 
    display: inline-block;
    font-weight: 500;
    font-size: larger;
    margin: 0 0 2vh 0;
}
a:hover{
    color: #007034;
    cursor: pointer;
}
a:active{
    color: #8dbf4c;
}
input{
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
    padding: 2vh 10%;
    margin: 0 0 3vh 0;
}
input[type="submit"]{
    color: #fff;
    background-color: #37a943;
    border-radius: 10px;
    padding: 2vh 30%;
    margin: 0;
}
input[type="submit"]:hover{
    background-color: #007034;
    cursor: pointer;
}
input[type="submit"]:active{
    background-color: #8dbf4c;
}
.form-titulo{
    color: #37a943;
    font-weight: bolder;
    font-size: 270%;
    margin: 0 0 3vh 0;
}
.form-register-input{
    padding: 1.5vh 10%;
    margin: 0 0 2vh 0;
}
.form-link{
    color: #37a943;
    margin: 0.5vh 0 1.5vh 0;
}
.triangulo-superior{
    position: absolute;
    top: 0;
    left: 0;
}
.tri-sup-chico{
    border-top: 150px solid #007034;
    border-right: 150px solid transparent;
    z-index: 2;
}
.tri-sup-mediano{
    border-top: 200px solid #37a943;
    border-right: 200px solid transparent;
    z-index: 1;
}
.tri-sup-grande{
    border-top: 250px solid #8dbf4c;
    border-right: 250px solid transparent;
    z-index: 0;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(5px 5px 10px rgba(0.0, 0.0, 0.0, 0.2));
}
.triangulo-inferior{
    position: absolute;
    bottom: 0;
    right: 0;
}
.tri-inf-chico{
    border-top: 150px solid transparent;
    border-right: 150px solid #007034;
    z-index: 2;
}
.tri-inf-mediano{
    border-top: 200px solid transparent;
    border-right: 200px solid #37a943;
    z-index: 1;
}
.tri-inf-grande{
    border-top: 250px solid transparent;
    border-right: 250px solid #8dbf4c;
    z-index: 0;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
}

.cuadrado-chico{
    width: 3.9vh;
    height: 3.9vh;
    background-color: #8dbf4c;
    z-index: 2;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuadrado-mediano{
    width: 11.6vh;
    height: 11.6vh;
    background-color: #37a943;
    z-index: 1;
    position: relative;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuadrado-grande{
    width: 19.5vh;
    height: 19.5vh;
    background-color: #007034;
    z-index: 0;
    position: relative;
    -webkit-filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    filter: drop-shadow(-5px -5px 10px rgba(0.0, 0.0, 0.0, 0.2));
    transform: rotate(45deg);
}
.cuad-1{
    margin-top: -93vh;
}
.cuad-2{
    margin-top: -15vh;
    margin-left: 8vw;
}
.cuad-3{
    margin-left: 2vw;
}
.cuad-4{
    margin-top: -11vh;
    margin-left: -1.5vw;
}
.cuad-5{
    margin-top: 28vh;
    margin-left: 30vw;
}
.cuad-6{
    margin-top: -1vh;
    margin-left: 31vw;
}
.cuad-7{
    margin-top: -25vh;
    margin-left: 33vw;
}
.cuad-8{
    margin-top: 7vh;
    margin-left: 26vw;
}
.cuad-9{
    margin-top: -94vh;
    margin-left: 31vw;
}
.cuad-10{
    margin-top: -21vh;
    margin-left: 29vw;
}
.cuad-11{
    margin-top: 4vh;
    margin-left: 35vw;
}
.cuad-12{
    margin-top: -22vh;
    margin-left: 45vw;
}
.cuad-13{
    margin-top: 12vh;
    margin-left: 33vw;
}
.cuad-14{
    margin-top: 9vh;
    margin-left: 4vw;
}
.cuad-15{
    margin-left: 2vw;
}
.cuad-16{
    margin-top: 2vh;
    margin-left: 2vw;
}

/* Página Principal y Home */
.grid-home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.6fr repeat(4, 1fr);
    grid-template-rows: 0.4fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-home-1 { 
    grid-area: 1 / 1 / 2 / 5; 
    width: 100vw;
    height: 9vh;
    background-color: #007034;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.grid-home-2 { 
    grid-area: 2 / 1 / 6 / 2;
    grid-auto-flow: row;
    width: 13vw;
    height: 91vh;
    margin: 9vh 0 0 0;
    background-color: #37A943; 
    display: grid;
    justify-content: space-between;
    position: fixed;
    z-index: 0;
}
.grid-home-3 { 
    grid-area: 2 / 2 / 6 / 6; 
}

.titulo-examen{
    width: 100%;
    font-size: xx-large;
    font-weight: 600;
    padding: 2.5% 0 1.5% 0;
}
.titulo-usuario{
    width: 100%;
    font-size: x-large;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.mascota-titulo-examen{
    margin: auto 0 auto -10%;
    font-size: x-large;
}
.mascota-titulo-dato{
    margin: auto 0;
    font-size: large;
}
.mascota-card{
    width: 82%;
    background-color: #DDDDDD;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    padding: 2% 4%;
    margin: 0 5% 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 10px;
}
.mascota-card:hover{
    background-color: #8dbf4c;
    color: #fff;
    cursor: pointer;
}
/* .mascota-card:active{
    background-color: #272c33;
} */
.mascota-button-info{
    width: 15%;
    background-color: #00939d;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.mascota-button-examen{
    width: 15%;
    background-color: #37a943;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0 auto -10%;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.mascota-button-info:hover,
.mascota-button-examen:hover{
    background-color: #007034;
    color: #fff;
    cursor: pointer;
}
.mascota-button-info:active,
.mascota-button-examen:active{
    background-color: #DDDDDD;
    color: #000;
}
.mascota-image{
    width: 10%;
    border-radius: 100px;
    filter: grayscale();
}
.logout-button-veterinario{
    padding: 5% 20% !important;
    margin: 30% 12% 15% 12% !important;
}
.logout-button{
    background-color: #DDDDDD;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 600;
    padding: 2% 20%;
    margin: 80% 12% 15% 12%;
}
.logout-button:hover{
    background-color: #8dbf4c;
    color: #fff;
    cursor: pointer;
}
.logout-button:active{
    background-color: #000;
}
.moreOption-button-selected{
    background-color: #00939d;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 50px;
    border: none;
    outline: none;
    margin: 15% 20% 0 20%;
    padding: 10% 12%;
}
.moreOption-button{
    background-color: #DDDDDD;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    border-radius: 50px;
    border: none;
    outline: none;
    margin: 15% 25% 0 25%;
    padding: 10% 12%;
}
.moreOption-button-selected:hover,
.moreOption-button:hover{
    background-color: #8dbf4c;
    color: #fff;
    cursor: pointer;
}
.moreOption-button-selected:active,
.moreOption-button:active{
    background-color: #000;
}
.moreOption-image{
    width: 100%;
}
.moreOption-image:active,
.moreOption-image:hover{
    filter: invert(1);
}

/* Página Examen Clínico */
.regresar{
    width: 3%;
    margin: 0 -3% 0 1%;
    filter: invert(1);
}
.regresar:hover{
    cursor: pointer;
    filter: none;
}
.clinico-titulo-examen{
    margin: auto 10%;
    font-size: x-large;
}
.clinico-titulo-dato{
    margin: auto 0 auto -25%;
    font-size: large;
    text-align: start;
}
.clinico-button-proceso{
    width: 25%;
    background-color: #00939d;
    color: #DDDDDD;
    padding: 1.5% 0;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.clinico-button-descarga{
    width: 20%;
    background-color: #37a943;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.clinico-button-descarga:hover{
    background-color: #007034;
    color: #fff;
    cursor: pointer;
}
.clinico-button-descarga:active{
    background-color: #DDDDDD;
    color: #000;
}
.clinico-button-eliminar{
    width: 20%;
    background-color: #ff0000;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.clinico-button-eliminar:hover{
    background-color: #c23616;
    color: #fff;
    cursor: pointer;
}
.clinico-button-eliminar:active{
    background-color: #DDDDDD;
    color: #000;
}
.veterinario-button-eliminar{
    width: 60%;
    background-color: #ff0000;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.veterinario-button-eliminar:hover{
    background-color: #c23616;
    color: #fff;
    cursor: pointer;
}
.veterinario-button-eliminar:active{
    background-color: #DDDDDD;
    color: #000;
}

/* Página Examen Específico */
.separador{
    background-color: #AAAAAA;
    width: 90%;
    height: 0.3vh;
    margin: 0 auto;
}
.especifico-titulo{
    width: 15%;
    font-size: xx-large;
    font-weight: 500;
    padding: 0 0 1.5% 0;
}
.especifico-datos{
    width: 20%;
    font-size: larger;
    font-weight:5 00;
    padding: 2.5% 0;
}
.especifico-imagen{
    width: 5%;
    border-radius: 100px;
    margin: 0 0 -1.3% 0;
}
.especifico-imagen:hover{
    transform: scaleX(-1);
}

/* Página Agregar Mascota y Solicitar Examen */
.option-big-card{
    width: 80%;
    background-color: #DDDDDD;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    padding: 2% 4%;
    margin: 0 6% 3% 6%;
    display: grid;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 10px;
}
.option-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-text{
    margin: auto 0;
    font-size: x-large;
}
.option-input{
    margin: 2% 0;
    width: 65%;
    font-size: x-large;
}
.option-button-cancel{
    width: 15%;
    background-color: #ff0000;
    color: #fff;
    padding: 1.5% 3% !important;
    margin: 1.5% 0 auto 70%;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.option-button-cancel:hover{
    background-color: #c23616;
}
.option-button-save{
    color: #fff;
    padding: 1.5% 3% !important;
    margin: 1.5% 0 auto 0 !important;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.option-button-save:active,
.option-button-cancel:active{
    background-color: #000;
}
.option-select{
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
    padding: 2vh 10%;
    margin: 2% 0;
    width: 85%;
    font-size: x-large;
}
select{
    text-align: center;
}
select[disabled] { 
    color: #000; 
    font-weight: 600;
    text-align: center;
}
.examenes-cards{
    display: flex;
    justify-content: space-evenly;
}
.examen-card{
    background-color: #DDDDDD;
    border-radius: 50px;
    width: 25vw;
}
.examen-card-titulo{
    text-align: center;
    padding: 8% 0 5% 0;
    font-weight: 600;
    font-size: x-large;
    width: 100%;
}
.examen-card-imagen{
    width: 5vw;
    height: 5vw;
    background-color: #00939d;
    border: 2px solid #000;
    padding: 10%;
    border-radius: 30px;
}
.examen-card-select{
    width: 80%;
    margin: 8% 0 4% 0;
    padding: 3% 0;
    border-radius: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
}
.examen-card-boton{
    width: 80%;
    margin: 5% 0 10% 0;
    background-color: #37a943;
    color: #fff;
    padding: 3% 0;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.examen-card-boton:hover{
    background-color: #007034;
    color: #fff;
    cursor: pointer;
}
.examen-card-boton:active{
    background-color: #000;
    color: #fff;
}

/* Home Veterinario */
.seccion-buscador{
    width: 100%;
    padding: 0.5%;
}
.input-buscador{
    display: inline-block;
    border-radius: 50px;
    background-color: #DDDDDD;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    font-size: large;
    padding: 2.5vh 0;
    margin: 0;
    width: 70%;
    font-size: x-large;
}
.boton-buscador{
    background-color: #37a943;
    color: #fff;
    padding: 1.5% 3% !important;
    margin: 1.5% 0 auto 5% !important;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.boton-buscador:hover{
    background-color: #007034;
}
.boton-buscador:active{
    background-color: #000;
}
.opcion-mascota-veterinario{
    display: inline-block;
    width: 30vh;
    height: 30vh;
    padding: 0.1%;
    margin: 3%;
    border-radius: 200px;
    border: 3px solid #DDDDDD;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
}
.imagen-mascota-veterinario{
    width: 30vh;
    height: 30vh;
    border-radius: 200px;
    position: relative;
    z-index: 0;
}
.nombre-mascota-veterinario{
    width: 30vh;
    height: 30vh;
    border-radius: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 -30vh 0;
    color: #fff;
    font-size: x-large;
    position: relative;
    z-index: 1;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    filter: opacity(0);
}
.nombre-mascota-veterinario:hover{
    filter: opacity(1);
    cursor: pointer;
}
.titulo-no-encontrado{
    width: 100%;
    color: #3B4D79;
    font-size: xx-large;
    padding: 4% 0;

}

/* Exámenes Veterinario */
.veterinario-titulo-dato{
    margin: auto 0 auto 0;
    font-size: large;
    text-align: start;
}
.veterinario-titulo-examen{
    margin: auto 2% auto 3%;
    font-size: x-large;
}

/* Página Reporte */
.veterinario-big-card{
    width: 82%;
    background-color: #DDDDDD;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    padding: 2%;
    margin: 0 6% 3% 6%;
    display: grid;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 10px;
}
.report-card{
    width: 92%;
    background-color: #fff;
    color: #000;
    box-shadow: 10px 10px 10px rgba(0.0, 0.0, 0.0, 0.2);
    padding: 2% 3%;
    margin: 0 1% 3% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 10px;
}
.report-titulo-dato{
    margin: auto 0 auto -25%;
    font-size: large;
    text-align: start;
}
.report-button-examen{
    width: 15%;
    background-color: #37a943;
    color: #fff;
    padding: 1.5% 0;
    margin: auto 0 auto -25%;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.report-button-examen:hover{
    background-color: #007034;
}
.report-button-examen:active{
    background-color: #000;
    color: #fff;
}

/* Examenes Parasitología, Urianálisis, Hemograma */
.examen{
    width: 100%;
    padding: 2%;
}
.examen-encabezado{
    width: 95.4%;
}
.examen-encabezado-divisor{
    width: 100%;
    background-color: #00939d;
    padding: 0.3%;
}
.examen-encabezado-facultad{
    padding: 2% 0 0 0;
    display: flex;
    justify-content: space-around;
}
.examen-encabezado-titulo{
    color: #00939d;
    font-size: large;
    font-weight: 600;
}
.examen-encabezado-escudo{
    width: 5vw;
    height: 5vw;
}
.examen-encabezado-mascotas{
    padding: 4% 0 0 0;
    display: flex;
    justify-content: center;
}
.examen-encabezado-resultado{
    width: 40%;
    border-radius: 20px;
    color: #fff;
    background-color: #00939d;
    padding: 3% 0;
    font-size: x-large;
    font-weight: 500;
}
.examen-encabezado-imagenes{
    width: 15%;
}
.examen-encabezado-animal{
    width: 4.5vw;
    height: 3.5vw;
}
.examen-encabezado-animal2{
    width: 9vw;
    height: 7vw;
}
.examen-encabezado-datos{
    width: 100%;
    padding: 4% 0 0 0;
    display: flex;
    justify-content: space-around;
}
.examen-encabezado-tablaPropietario{
    width: 35%;
}
.examen-encabezado-tablaMascota{
    width: 60%;
}
.examen-encabezado-tablaTratamiento{
    width: 80%;
}
.examen-encabezado-tablaAnalisis{
    width: 95%;
}
table, th, td {
    border: 1px solid #3B4D79;
    border-collapse: collapse;
    padding: 1%;
}
/* th{
    background-color: #00939d;
    color: #fff;
} */
tr:nth-child(even) {
    background-color: #00939d;
    color: #fff;
}
.examen-segunda-version1{
    background-color: #00939d;
    color: #fff;
}
.examen-segunda-version2{
    background-color: #fff;
    color: #000;
}
.examen-tabla-continuacion{
    display: flex;
    justify-content: center;
    margin: 2.6% 0 -2.6% 0;
    border: none;
}
.examen-input-continuacion{
    width: 75% !important;
    padding: 0% 0 !important;
}
.examen-input-tabla{
    width: 100%;
    font-size: medium;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}
.option-section-examen{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0 0 0;
}
.option-select-section{
    width: 100%;
    margin: 1% 0;
    display: flex;
    justify-content: space-around;
}
.option-select-title{
    width: 40%;
    font-size: xx-large;
    font-weight: 600;
    padding: 2.5% 0 1.5% 0;
}
.option-select-exam{
    display: inline-block;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    outline: none;
    text-align: center;
    font-size: large;
    padding: 2vh 2%;
    margin: 2% 0;
    font-size: x-large;
}
.mascota-card-imagen{
    width: 4vw;
    margin: 0 -5% 0 0;
}
.veterinario-registro{
    width: 70%;
    margin: -3% auto 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
    /* Login y Register */
    .form-login{ margin: 17vh 10%; }
    .form-register{ margin: 8vh 10%; }
    label, a{ font-size: medium; }
.moreOption-button-selected
    input[type="submit"]{ padding: 2vh 25%; }
    .form-titulo{ font-size: 150%; }

    /* Home */
    .mascota-card{ font-size: large; }
    .logout-button{ font-size: large; }
    .titulo-usuario{ font-size: large; }
}

@media only screen and (min-width: 500px) {
    /* Login y Register */
    .form-login{ margin: 14vh 15%; }
    .form-register{ margin: 3vh 15%; }
    .form-titulo{ font-size: 150%; }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    /* Login y Register */
    .cuadrado-chico{ display: none; }
    .cuadrado-mediano{ display: none; }
    .cuadrado-grande{ display: none; }
    .tri-sup-chico{ border-top: 50px solid #007034; border-right: 50px solid transparent; }
    .tri-sup-mediano{ border-top: 100px solid #37a943; border-right: 100px solid transparent; }
    .tri-sup-grande{ border-top: 150px solid #8dbf4c; border-right: 150px solid transparent; }
    .tri-inf-chico{ border-top: 50px solid transparent; border-right: 50px solid #007034; }
    .tri-inf-mediano{ border-top: 100px solid transparent; border-right: 100px solid #37a943; }
    .tri-inf-grande{ border-top: 150px solid transparent; border-right: 150px solid #8dbf4c; }
    .grid-1 { grid-area: 1 / 1 / 7 / 8; }
    .form-login{ margin: 15vh 7%; }
    .form-register{ margin: 2vh 7%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 3%; }
    input[type="submit"]{ padding: 2vh 25%; }
    .form-titulo{ font-size: 200%; }

    /* Home */
    .grid-home {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.5fr repeat(3, 1fr) 0.4fr;
    }
    .grid-home-1 { grid-area: 1 / 1 / 2 / 6; }
    .grid-home-2 { grid-area: 5 / 1 / 6 / 6; }
    .grid-home-3 { grid-area: 2 / 1 / 5 / 6; }
    .mascota-card{ 
        width: 80%; 
        padding: 3% 5%; 
        margin: 0 5% 5% 5%; 
    }
    .mascota-button{ width: 20%; }
    .logout-button{ 
        font-size: medium; 
        padding: 3% 15%; 
        margin: 5% 0; 
    }
    .break-point{ display: none; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 701px) and (max-width: 1000px) {
    /* Login y Register */
    .cuadrado-chico{ display: none; }
    .cuadrado-mediano{ display: none; }
    .cuadrado-grande{ display: none; }
    .grid-1 { grid-area: 1 / 1 / 7 / 8; }
    .form-login{ margin: 11.5vh 20%; }
    .form-register{ margin: 1.5vh 20%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 3%; }
    input[type="submit"]{ padding: 2vh 23%; }
    .form-titulo{ font-size: 200%; }

    /* Home */
    .grid-home {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.5fr repeat(3, 1fr) 0.4fr;
    }
    .grid-home-1 { grid-area: 1 / 1 / 2 / 6; }
    .grid-home-2 { grid-area: 5 / 1 / 6 / 6; }
    .grid-home-3 { grid-area: 2 / 1 / 5 / 6; }
    .mascota-card{ 
        width: 80%; 
        padding: 3% 5%; 
        margin: 0 5% 5% 5%; 
        font-size: xx-large;
    }
    .mascota-button{ width: 20%; }
    .logout-button{ 
        font-size: xx-large; 
        padding: 3% 15%; 
        margin: 4% 0; 
    }
    .break-point{ display: none; }
    .titulo-usuario{ font-size: xx-large; }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .form-login{ margin: 14vh 25%; }
    .form-register{ margin: 2vh 25%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .form-login{ margin: 13vh 12%; }
    .form-register{ margin: 1.5vh 12%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 10%; }
    .form-titulo{ font-size: 200%; }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .form-login{ margin: 16vh 12%; }
    .form-register{ margin: 6vh 12%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 10%; }
    .form-titulo{ font-size: 200%; }
}

@media only screen and (min-width: 1301px) and (max-width: 1450px) {
    .form-login{ margin: 17vh 12%; }
    .form-register{ margin: 8vh 12%; }
    label, a{ font-size: large; }
    input{ font-size: medium; padding: 2vh 10%; }
    .form-titulo{ font-size: 200%; }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1451px) and (max-width: 1600px) {
    .form-login{ margin: 16vh 12%; }
    .form-register{ margin: 8vh 12%; }
}
@media only screen and (min-width: 1601px) and (max-width: 1700px) {
    /* Login y Register */
    .form-login{ margin: 17vh 12%; }
    .form-register{ margin: 8vh 12%; }

    /* Home */
    .mascota-card{ font-size: xx-large; }
    .logout-button{ font-size: x-large; }
    .titulo-usuario{ font-size: x-large; }
}
@media only screen and (min-width: 1701px) and (max-width: 1900px) {
    .form-login{ margin: 18vh 12%; }
    .form-register{ margin: 9.5vh 12%; }
}

/* Extra large devices (extra large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1901px) {
    .form-login{ margin: 15.5vh 15%; }
    .form-register{ margin: 6vh 15%; }
    label, a{ font-size: x-large; }
    input{ font-size: larger; padding: 2vh 3%; }
    .form-titulo{ font-size: 300%; }
}

/* Animate Style */
.carga {
    background-color: rgba(0.0, 0.0, 0.0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: none;
}
.carga-texto{
    color: #fff;
    position: fixed;
    font-size: x-large;
    left: 45.5vw;
    top: 65vh;
}
.pulsar {
    --uib-size: 15vw;
    --uib-speed: 1.5s;
    --uib-color: #37a943;

    position: absolute;
    left: 42.5vw;
    top: 32vh;
    z-index: 10;
    height: var(--uib-size);
    width: var(--uib-size);
}

.pulsar::before,
.pulsar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) ease-in-out infinite;
    transform: scale(0);
}

.pulsar::after {
    animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 0.25;
    }
}
